*, *::before, *::after{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
}

header{
  background-color: #136C72;
  margin-bottom: 1em;
}

.container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
  /* border: 2px solid limegreen; */
}

.app_title {
  margin: 0 auto;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  padding: 0.75em 0;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

table{
  border-collapse: collapse;
}

thead {
  background-color: #136C72;
  color: white;
}

tr:nth-child(even){
  background-color: #f2f2f2
}

tr,td{
  border: ridge;
} 

.table_section{
  align-self: flex-start;
  /* border: 2px solid red; */
}

.table__content--head--body{
  max-width: 100%;
}

.form_section{
  width: 35%;
  /* border: 2px solid red; */
  border: ridge;
  padding: 0.15em ;
  /* max-width: 100%; */
  align-self: flex-start;
}

.form__content{
  max-width: 100%;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* flex-grow: 1; */
}

.form__input--name{
  margin-right: 0.60em;
}

.form__input--buttons{
  /* border: 1px solid #32cd32; */
  margin: 0 auto;
}

.btn--class{
  background-color: #136C72;
  color: #fff;
  padding: 0.75em 1.5em;
  border-radius: 1.5em;
  text-decoration: none;
  border-style: none;
  text-transform: uppercase;
}


/* Media queries */

@media (max-width: 600px) {
  .container{
    display: block;
    /* background-color: crimson; */
  }
  .table_section, .form_section{
    width: 100%;
  }
}
